html { 
  margin: 0px; 
  height: 100%;
  width: 100%;
}

body { 
  margin: 0px; 
  height: 100%;
  width: 100%;
  padding: 20px;
  background-image: url(../img/bg.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-card {
  border: 1px solid #ccc;
  border-radius:10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1); 
}

#status {
  display: none;
}
