name: "Release build for chrome web store"

on:
  push:
    tags:
      - "V*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - run: npm ci
      - run: npm run build
      - name: Update release information in manifest.json
        run: |
          TAGVERSION=${GITHUB_REF_NAME:1}
          echo "Version identifier of tag is '$TAGVERSION'"
          echo "`jq '.version="'$TAGVERSION'"' dist/manifest.json`" > dist/manifest.json
      - name: Create zip
        run: cd dist && zip -r ../500NewTabs_$GITHUB_REF_NAME.zip ./

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: RELEASE.md
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            500NewTabs_*.zip
